<!DOCTYPE html>
<html>
<head>
    <title>{{ project_name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
</head>
<body class="w3-theme-l1">
<script type="text/javascript">

function saveTextAsFile()
{
    var textToSave = document.getElementById("edited_xml").value;
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    var fileNameToSaveAs = document.getElementById("inputFileNameToSaveAs").value + '.xml';

    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    downloadLink.href = textToSaveAsURL;
    downloadLink.onclick = destroyClickedElement;
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);

    downloadLink.click();
}
function destroyClickedElement(event)
{
    document.body.removeChild(event.target);
}
 </script>
<header class="w3-container w3-dark-gray">
    <h1 align="center"> {{ project_name }} </h1>
</header>

<div class="w3-panel w3-dark-gray w3-card-4">
        <p>Генерираният файл:</p>
         <textarea style="font-family: Arial;font-size: 12pt;width:100%;height:30vw" name="edited_xml" id="edited_xml">{{xml_to_edit }}
         </textarea>  <br/>
        <p>Име на файла</p><input id="inputFileNameToSaveAs"></input>
        <button onclick="saveTextAsFile()">Сваляне</button>
</div>
</body>
</html>